.mobile-only {
  display: none;
}

.desktop-tablet {
  display: flex;
}

.navbar-div {
  width: 100%;
}

.nav-div {
  /* width: 90%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 140px 50px 132px;
}

.navs {
  display: inline-flex;
  padding: 0 10px;
}

.navs > ul {
  list-style-type: none;
  display: flex;
}

.navs > ul>li {
  padding: 0.6rem 3.125rem;
  font-size: 16px;
  align-items: center;
  display: flex;
}

.navs ul a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
}

.navs ul a:hover {
  color: rgb(240, 233, 233);
}

.dropdown {
  flex-direction: row;
  z-index: 100;
  width: 100%;
  position: absolute;
  background-color: #fff;
}

.mobile-show, .mobile-hide {
  visibility: hidden;
  opacity: 0;
  padding: 0 !important;
  margin: 0 !important;
  height: 0;
}

.dropdown > ul {
  list-style-type: none;
  flex-direction: column;
  display: flex;
  flex: 1;
}

.hamburger {
  transform: rotate(90deg);
  letter-spacing: 1.75px;
  font-size: 24px;
  border: none;
}

.hamburger-hide {
  transform: rotate(90deg);
  transition: transform 0.4s linear;
}

.hamburger-show {
  transform: rotate(0);
  transition: transform 0.4s linear;
}

.dropdown > ul > a > li {
  padding: 0.2rem 0;
  font-size: 16px;
  justify-content: center;
  display: flex;
}

.dropdown > ul > a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.dropdown ul a {
  text-decoration: none;
  color: #000;
  font-weight: 400;
}

.dropdown ul a:hover {
  color: rgb(240, 233, 233);
}

.reg {
  width: 5rem;
  height: 2rem;
  text-align: center;
  background: #007EFF;
  border-radius: 5px;
  padding: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
  outline: none;
}


@media (max-width: 650px) {
  .nav-div {
    margin: 0;
  }
  
  .navs > ul>li {
    padding: 0.1rem 0.5rem;
    font-size: 12px;
  }
}

@media (max-width: 1024px) {
  .nav-div {
    margin: 50px 0 50px 132px;
  }
  .navs > ul > li {
    padding: 0.1rem 1.4rem;
  }
}

@media (max-width: 768px) {
  .nav-div {
    margin: 50px 0 30px 75px;
  }
}


@media (max-width: 650px) {
  .nav-div {
    margin: 0;
  }
  
  .navs > ul>li {
    padding: 0.1rem 0.5rem;
    font-size: 12px;
  }
}

@media (max-width: 425px) {
  .nav-div {
    margin: 25px 22px 10px -5px;
    justify-content: space-between;
  }

  .mobile-only {
    display: flex;
  }
  
  .desktop-tablet {
    display: none;
  }

  .mobile-show {
    visibility: visible;
    opacity: 1;
    height: initial;
    transition: all 0.25s ease-in-out .1s;
  }
  
  .mobile-hide {
    visibility: hidden;
    opacity: 0;
    padding: 0 !important;
    margin: 0 !important;
    height: 0;
    transition: all 0.15s linear;
  }

  .dropdown > ul > a:hover {
    background: rgba(194, 207, 224, 0.62);
    color: #fff;
    border-bottom: 1px solid rgba(194, 207, 224, 0.12);
  }
}