.footer-div {
  width: 100%;
  min-height: 210px;
  background:#171E28;
  padding: 50px 0 30px 0;
}

.footer-inner {
  display: flex;
  width: 70%;
  margin: 0 auto;
}

.footer-ul-div {
  display: flex;
  justify-content: space-around;
  width: 70%;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}

.footer-ul-div > ul > li {
  list-style-type: none;
  padding-top: 5px;
}

.show-menu {
  display: none;
}

.footer-img {
  align-items: center;
  margin: 10px 0 0 0;
  display: flex;
  width: 150px;
  flex-direction: column;
}

.footer-logo {
  width: 100%;
}

.footer-socials {
  display: flex;
  width: 100%;
  margin-top: 20px;
  justify-content: space-between;
}

.footer-ul-div > ul > .head {
  font-weight: bold;
  padding-bottom: 16px;
}

.phoneNumber {
  margin-top: 7.5px;
}

@media (max-width: 768px) {
  .footer-div {
    display: flex;
  }
  
  .footer-inner {
    width: 85%;
    margin: 0 auto;
  }
  .footer-img {
    margin: 10px 0 0 -20px;
  }

  .footer-ul-div{
    width: 100%;
  }
}

@media (max-width: 425px) {
  .footer-inner {
    display: flex;
    width: initial;
    margin: 22px 22px 40px 22px;
    flex-direction: column;
  }

  .footer-ul-div{
    flex-direction: column;
  }

  .footer-img {
    align-items: flex-start;
    align-self: flex-start;
    margin: 0;
  }

  .footer-socials {
    display: flex;
    margin: 20px 0 0 0;
    justify-content: space-between;
  }

  .footer-ul-div > ul > .head {
    padding: 20px 0 0 0;
  }

  .footer-ul-div > ul > li:nth-child(2) {
    padding-top: 20px;
  }

  .company-hide, .legal-hide, .contact-hide {
    visibility: hidden;
    opacity: 0;
    padding: 0 !important;
    margin: 0 !important;
    height: 0;
    transition: all 0.25s linear;
  }

  .company-show, .legal-show, .contact-show {
    visibility: visible;
    opacity: 1;
    height: initial;
    transition: all 0.5s ease-in-out .1s;
  }

  .show-menu {
    display:  inline-flex;
    position: absolute;
    right: 55px;
    z-index: 100;
    transform: rotate(0deg);
    transition: transform 0.4s ease-in;
  }

  .show-menu-contact, .show-menu-legal, .show-menu-company {
    transform: rotate(90deg);
    transition: transform 0.4s linear;
  }
}