.sec-one {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.content-left {
  display: flex;
  flex-direction: column;
  width: 25%;
  word-break: break-word;
  padding: 30px 40px 0 160px;
  justify-content: center;
}

.hero-div {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 50%;
  flex-grow: 1;
}

.sec-2-section {
  margin-top: 15%;
}

.sec-5-div-section {
  margin-top: 12%;
}

.sec-3-section {
  margin-top: 7%;
  display: flex;
  justify-content: flex-end;
}

.sec-4-div-section {
  margin-top: 9%;
}

.hero-img {
  width: 100%;
  height: 100%;
}

.lefts {
  padding-bottom: 10px;
}

.lefts > h1 {
  font-weight: 800;
  font-size: 24px;
  line-height: 36px;
}

.lefts > p {
  font-size: 13px;
  letter-spacing: 0.01em;
  line-height: 19px;
}

.sec-2-div {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.sec-2-heading {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sec-2-heading > h1 {
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 0.01em;
}

.sec-2-heading > p {
  font-size: 19px;
  line-height: 28px;
  color: #334d6e;
  letter-spacing: 0.01em;
  padding: 10px 0;
}

.scside {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0;
  line-height: 2;
}

.scside > h1 {
  text-align: left;
  width: 100%;
  padding: 20px 0 7px 0;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 19px;
  line-height: 27px;
}

.scside > div > ul > li {
  font-size: 14px;
  letter-spacing: 0.01em;
  line-height: 19px;
  padding: 10px 0;
  list-style-position: inside;
}

.scside > div > ul > li > span {
  position: relative;
  left: -8px;
}

.scside > p {
  font-size: 14px;
  letter-spacing: 0.01em;
  line-height: 19px;
}

.sec-side {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 20px 0;
  line-height: 2;
}

.sec-side > h1 {
  text-align: left;
  width: 100%;
  padding: 20px 0 7px 0;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 19px;
  line-height: 27px;
}

.sec-side > div > ul > li {
  font-size: 14px;
  letter-spacing: 0.01em;
  line-height: 19px;
  padding: 10px 0;
  list-style-position: inside;
}

.sec-side > div > ul > li > span {
  position: relative;
  left: -8px;
}

.sec-side > p {
  font-size: 14px;
  letter-spacing: 0.01em;
  line-height: 19px;
}

.sec-side-img-div {
  width: 50%;
  display: flex;
}

.sec-2-side-img-div {
  width: 50%;
  display: flex;
}

.sec-3-side-img-div {
  width: 50%;
  display: flex;
  justify-content: center;
}

.sec-3-side-img-div > div {
  width: 60%;
}

.sec-side-img-div > div {
  width: 60%;
}

.sec-2-div-right > h1 {
  text-align: left;
  width: 100%;
  padding: 20px 0 7px 0;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 19px;
  line-height: 27px;
}

.sec-2-div-right > p {
  font-size: 14px;
  letter-spacing: 0.01em;
  line-height: 19px;
}

.sec-btn-div {
  width: 100%;
}

.sec-2-img {
  height: 100%;
  width: 100%;
}

.sec-3-img {
  height: 100%;
  width: 100%;
}

.sec-4-div-section {
  display: flex;
  justify-content: flex-end;
}

.sec-4-img {
  height: 100%;
  width: 100%;
}

.sec-4-img-div {
  width: 40%;
}

.sec-4-side {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.sec-4-side > div > ul > li {
  font-size: 14px;
  letter-spacing: 0.01em;
  line-height: 19px;
  padding: 10px 0;
  list-style-position: inside;
}

.sec-4-side > div > ul > li > span {
  position: relative;
  left: -8px;
}

.sec {
  width: 85%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sec-5-div {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}

.sec-5-div h1 {
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
}

.features-div {
  width: 100%;
  margin: 0 auto;
}

.row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  margin: 10px auto;
}

.col {
  padding: 10px 0;
  width: 30%;
}

.col > img,
h3,
p {
  padding: 10px 0;
}

.sec-6-section {
  display: flex;
  justify-content: flex-end;
}

.sec-6-div {
  display: flex;
  width: 85%;
  flex-direction: column;
  margin-bottom: 5%;
}

.sec-why-edustripe, .sec-join-edustripe {
  display: flex;
  flex-direction: row;
}

.sec-why-edustripe {
  min-height: 300px;
}

.sec-why-edustripe-first {
  width: 35%;
}

.sec-why-edustripe-first > p {
  text-transform: capitalize;
}

.sec-why-edustripe-second {
  width: 50%
}

.sec-join-edustripe-first {
  width: 45%;
}

.sec-join-edustripe-second {
  width: 45%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.sec-why-edustripe-first > h1, .sec-join-edustripe-first > h1 {
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 0.01em;
}

.sec-why-edustripe-first > p, .sec-join-edustripe-first > p {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.01em;
}

.sec-join-edustripe-first > p {
  color: #323C47;
  padding-bottom: 0;
}

@media (max-width: 768px) {
  .content-left {
    width: 33%;
    padding: 0 0 0 100px;
  }

  .lefts > h1 {
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
  }
  
  .lefts > p {
    font-size: 12px;
    letter-spacing: 0.01em;
    line-height: 12px;
  }

  .sec-2-div {
    width: 85%;
    margin: 0 10px 0 auto;
  }
  
  .sec-side > div > ul > li {
    padding: 0 0 2px 0;
  }
}

@media (max-width: 1024px) {
  .sec-2-section {
    margin-top: 5%;
  }
}

@media (min-width: 1560px) {
  .sec-2-section {
    margin-top: 35%;
  }

  .lefts > h1 {
    font-size: 36px;
    line-height: 56px;
  }
  
  .lefts > p {
    font-size: 20px;
    line-height: 36px;
  }

  .content-left {
    width: 35%;
    padding-left: 175px;
  }

  .sec-2-heading > h1, .sec-side > h1, .sec-4-side > h1,  .scside > h1 {
    font-size: 36px;
    line-height: 52px;
  }
  
  .sec-2-heading > p {
    font-size: 26px;
    line-height: 38px;
  }
  
  .sec-side > div > ul > li,.sec-side > p, .scside > p, .scside > div > ul > li, .sec-4-side > p , .sec-4-side > div > ul > li {
    font-size: 18px;
    line-height: 24px;
  }
  
  .sec-2-div, .sec-5-div {
    width: 85%;
  }

  .sec-2-side-img-div {
    width: 30%;
  }

  .sec-3-side-img-div > div, .sec-side-img-div > div {
    width: 40%;
  }

  .sec, .sec-6-div {
    width: 92.5%;
  }
}