.sec-one {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

* {
  scroll-behavior: smooth;
}


.btnanchor {
  display: block;
  height: 115px;
  margin-top: -115px;
  visibility: hidden;
}

.content-left {
  display: flex;
  flex-direction: column;
  width: 35%;
  word-break: break-word;
  padding: 30px 40px 0 160px;
  justify-content: center;
}

.hero-div {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 50%;
  flex-grow: 1;
}

.sec-2-section {
  margin-top: 5rem;
}

.sec-5-div-section {
  margin-top: 12%;
}

.sec-3-section {
  margin-top: 7%;
  display: flex;
  justify-content: flex-end;
}

.sec-4-div-section {
  margin-top: 9%;
}

.hero-img {
  width: 100%;
  height: 100%;
}

.lefts {
  padding-bottom: 10px;
}

.lefts > h1 {
  font-weight: 600;
  font-size: 35px;
  line-height: 60px;
}

.lefts > p {
  font-size: 20px;
  letter-spacing: 0.01em;
  line-height: 45px;
}

.sec-2-div {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.sec-2-heading {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sec-2-heading > h1 {
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 0.01em;
}

.sec-2-heading > p {
  font-size: 19px;
  line-height: 28px;
  color: #334d6e;
  letter-spacing: 0.01em;
  padding: 10px 0;
}

.scside {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0;
  line-height: 2;
}

.scside > h1 {
  text-align: left;
  width: 100%;
  padding: 20px 0 7px 0;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 19px;
  line-height: 27px;
}

.scside > div > ul > li {
  font-size: 14px;
  letter-spacing: 0.01em;
  line-height: 19px;
  padding: 10px 0 10px 5px;
  list-style-position: inside;
}

.scside > div > ul > li > span {
  position: relative;
  left: -4px;
  display: inline;
}

.scside > p {
  font-size: 14px;
  letter-spacing: 0.01em;
  line-height: 19px;
}

.sec-side {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 20px 0;
  line-height: 2;
}

.sec-side > h1 {
  text-align: left;
  width: 100%;
  padding: 20px 0 7px 0;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 19px;
  line-height: 27px;
}

.sec-side > div > ul > li {
  font-size: 14px;
  letter-spacing: 0.01em;
  line-height: 19px;
  padding: 10px 0 10px 5px;
  list-style-position: inside;
}

.sec-side > div > ul > li > span {
  position: relative;
  left: -4px;
  display: inline;
}

.sec-side > p {
  font-size: 14px;
  letter-spacing: 0.01em;
  line-height: 19px;
}

.sec-side-img-div {
  width: 50%;
  display: flex;
}

.sec-2-side-img-div {
  width: 50%;
  display: flex;
  position: relative;
}

.sec-3-side-img-div {
  width: 50%;
  display: flex;
  justify-content: center;
}

.sec-3-side-img-div > div {
  width: 60%;
}

.sec-side-img-div > div {
  width: 60%;
}

.sec-2-div-right > h1 {
  text-align: left;
  width: 100%;
  padding: 20px 0 7px 0;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 19px;
  line-height: 27px;
}

.sec-2-div-right > p {
  font-size: 14px;
  letter-spacing: 0.01em;
  line-height: 19px;
}

.sec-btn-div {
  width: 100%;
}

.sec-2-img {
  height: 100%;
  width: 100%;
}

.sec-3-img {
  height: 100%;
  width: 100%;
}

.sec-4-div-section {
  display: flex;
  justify-content: flex-end;
}

.sec-4-img {
  height: 100%;
  width: 100%;
  z-index: 2 !important;
}

.sec-4-img-div {
  width: 40%;
}

.sec-4-side {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.sec-4-side > h1 {
  font-size: 19px;
  line-height: 27px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  font-weight: 600;
}

.sec-4-side > p {
  font-size: 14px;
  letter-spacing: 0.01em;
  line-height: 19px;
}

.sec-4-side > div > ul > li {
  font-size: 14px;
  letter-spacing: 0.01em;
  line-height: 19px;
  padding: 10px 0 10px 5px;
  list-style-position: inside;
}

.sec-4-side > div > ul > li > span {
  position: relative;
  left: -4px;
  display: inline;
}

.sec {
  width: 85%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sec-5-div {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}

.sec-5-div h1 {
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
}

.features-div {
  width: 100%;
  margin: 0 auto;
}

.row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  margin: 10px auto;
}

.col {
  padding: 10px 0;
  width: 30%;
}

.col > img,
h3,
.col > p {
  padding: 10px 0;
}

.sec-6-section {
  display: flex;
  justify-content: flex-end;
}

.sec-6-div {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 0;
}

.sec-why-edustripe, .sec-join-edustripe {
  display: flex;
  flex-direction: row;
}

.sec-why-edustripe {
  flex-direction: column;
  width: auto;
}



.sec-why-edustripe-first {
  width: auto;
  color: #fff;
  background-color: #109CF1;
  padding: 50px 195px;
  display: flex;
  justify-content: space-evenly;
  
}

.sec-why-edustripe-first-text > p {
  text-transform: capitalize;
}

.sec-why-edustripe-second {
  width: 100%
}

.sec-join-edustripe-first {
  width: 45%;
}

.sec-join-edustripe-second {
  width: 45%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.sec-why-edustripe-first-text > h1, .sec-join-edustripe-first > h1 {
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 0.01em;
  margin: 0;
}

.sec-why-edustripe-first-text > p, .sec-join-edustripe-first > p {
  width: 90%;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.01em;
  margin-bottom: 0;
}

.sec-join-edustripe-first > p {
  color: #323C47;
}

.sec-why-edustripe-buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.sec-why-edustripe-buttons {
  flex-direction: row;
  align-items: flex-end;
  width: 40%;
}

.dot-element-container, .pacman-element-container, .cirles-element-container, .big-circle-element-container, .flower-element-container, .fan-like-element-container,
.polygon-container, .square-circle-container, .square-triangle-container, .plus-element-container {
  position: relative;
}

.dot-element {
  position: absolute;
  left: -8.3rem;
  top: -7rem;
  z-index: -2;
}

.kite-element {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 15%;
  opacity: 40%;
}

.square-triangle {
  position: absolute;
  right: 15%;
}

.plus-element {
  position: absolute;
  left: 60%;
  top: -3.5rem;
}

.square-circle {
  position: absolute;
  top: 16.5rem;
}

.fan-like-element {
  position: absolute;
  top: -9.4rem;
  left: 7rem;
  z-index: -1;
}

.polygon {
  position: absolute;
  z-index: -3;
  left: 15%;
  top: -1rem;
  width: 100%;
}

.flower-element {
  position: absolute;
  top: 8rem;
  right: 0;
}

.cirles-element {
  position: absolute;
  top: -10rem;
}

.big-circle-element {
  position: absolute;
  z-index: -2;
  width: 100%;
  left: 15%;
}

.pacman-element {
  position: absolute;
  right: 2rem;
  top: -5rem;
}

.featuredSection {
  display: flex;
  justify-content: center;
  margin-top: 8rem;
}


.featuredSection > div > p {
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #000000;
}

.featuredSection > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.featuredIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 75px;
  margin-top: 75px;
  flex-wrap: wrap;
}

.featuredIcons > div {
  display: flex;
  align-items: center;
}

.partnersSection {
  display: flex;
  justify-content: center;
  margin-top: 75px;
}

.partnersSection > div > p {
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #000000;
}

.partnersSection > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.partnersIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 75px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.partnersIcons > div {
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 1530px) {
  .lefts > p {
    font-size: 25px;
    line-height: 45px;
  }
  .lefts > h1 {
    font-size: 40px;
    line-height: 60px;
  }

  .featuredSection {
    margin-top: 13rem;
  }
}

@media only screen and (min-width: 1900px) {
  .lefts > h1 {
    font-size: 4.5rem;
    line-height: 7rem;
  }
  .col > h3 {
    font-size: 30px;
  }

  .col > p {
    font-size: 25px;
  }

  .lefts > p {
    font-size: 2rem;
    line-height: 4.5rem;
  }

  .content-left {
    width: 35%;
    padding-left: 175px;
  }

  .sec-2-heading > h1, .sec-side > h1, .sec-4-side > h1,  .scside > h1 {
    font-size: 40px;
    line-height: 56px;
  }
  
  .sec-2-heading > p {
    font-size: 36px;
    line-height: 48px;
  }
  
  .sec-side > div > ul > li,.sec-side > p, .scside > p, .scside > div > ul > li, .sec-4-side > p , .sec-4-side > div > ul > li {
    font-size: 25px;
    line-height: 32px;
  }
  
  .sec-2-div, .sec-5-div {
    width: 85%;
  }

  .sec-2-side-img-div {
    width: 30%;
  }

  .sec-3-side-img-div > div, .sec-side-img-div > div {
    width: 40%;
  }

  .sec {
    width: 92.5%;
  }

  .sec-why-edustripe-first-text > h1, .sec-join-edustripe-first > h1 {
    font-size: 50px;
    line-height: 56px;
  }
  
  .sec-why-edustripe-first-text > p, .sec-join-edustripe-first > p {
    font-size: 25px;
    line-height: 36px;
  }


  .sec-5-div h1 {
    font-size: 36px;
    line-height: 48px;
  }

  .sec-one-section {
    margin-bottom: 20rem;
  }

  .sec-2-section {
    margin-top: 10px;
  }

  .dot-element {
    left: -16rem;
    top: -13rem;
    width: 45%;
  }

  .featuredSection {
    margin-top: 28rem;
  }
}

@media only screen and (max-width: 1024px) {

  .fan-like-element {
    top: -7.4rem;
    left: 2.5rem;
  }

  .flower-element {
    position: absolute;
    top: 8rem;
    right: 0;
  }

  /* .sec-2-section {
    margin-top: 4rem;
  } */
  .lefts > p {
    font-size: 13px;
    line-height: 19px;
  }
  .lefts > h1 {
    font-size: 26px;
    line-height: 36px;
  }
}

@media only screen and (max-width: 768px) {
  .content-left {
    width: 35%;
    padding: 0 0 0 48px;
  }

  .featuredSection {
    margin-top: 3rem;
  }

  .sec-why-edustripe-first {
    padding: 50px 110px;
  }
  
  .sec-why-edustripe-first {
    flex-direction: column;
  }

  .lefts > h1 {
    font-weight: 700;
    font-size: 21px;
    line-height: 29px;
  }
  /* 
  
  .lefts > p {
    font-size: 12px;
    letter-spacing: 0.01em;
    line-height: 12px;
  } */

  .sec-2-div {
    width: 85%;
  }
  
  .sec-side > div > ul > li {
    padding: 0 0 2px 0;
  }

  .square-circle {
    top: 21.5rem;
  }

  .fan-like-element {
    top: -6.7rem;
    left: 1rem;
  }
  
  .sec-3-side-img-div {
    justify-content: flex-start;
    padding-left: 2rem;
  }
  
  .cirles-element {
    top: -7rem;
  }

  .pacman-element {
    top: -5.5rem;
  }
  
  .flower-element {
    position: absolute;
    top: 8rem;
    right: 0;
  }
}

@media only screen and (max-width: 650px) {
  .content-left {
    width: 38%;
    padding: 20px 0 0 28px;
  }
}

@media only screen and (max-width: 320px) {
  .fan-like-element {
    left: 1-rem;
  }
}

@media only screen and (max-width: 375px) {
  .fan-like-element {
    left: 0rem;
  }

  .cirles-element {
    top: -25rem;
  }
}

@media only screen and (max-width: 425px) {

  .polygon-element {
    z-index: -2 !important;
  }

  .dot-element {
    left: initial;
    top: -3.31rem;
    right: 10px;
  }

  .pacman-element {
    top: 0;
    right: 4%;
  }

  .cirles-element {
    top: -27rem;
    z-index: -2;
  }

  .flower-element {
    top: 0rem;
    right: 0;
  }

  .fan-like-element {
    top: 2rem;
    left: 1rem;
    z-index: 1;
  }

  .sec-one {
    flex-direction: column;
  }
  
  .square-circle {
    top: 50rem;
    z-index: -2;
  }
   
   
  .square-triangle{
    right: 0;
    top: -7rem;
   }

  .plus-element {
    left: initial;
    top: -44.5rem;
    right: 6%;
  }

  .hero-div {
    position: relative;
    width: 100%;
  }
  
  .content-left {
    width: 85%;
    padding: 30px 22px 0 22px;
  }

  .lefts {
    padding-bottom: 0;
  }

  .lefts > h1 {
    font-size: 24px;
    line-height: 36px;
  }

  .lefts > p {
    padding-bottom: 0;
  }

  .lefts > p, .sec-2-div-right > p, .sec-side > div > ul > li, .scside > p, .scside > div > ul > li, .sec-4-side > div > ul > li, .sec-4-side > p, .sec-why-edustripe-first > div > p {
    font-size: 13px;
    line-height: 19px;
  }

  .sec-2-heading > p {
    font-size: 16px;
    line-height: 24px;
  }

  .sec-2-section {
    margin-top: 20px;
  }
  
  .featuredSection {
    margin-top: 20px;
  }

  .featuredIcons {
    margin-bottom: 0;
  }

  .partnersSection {
    margin-top: 0;
  }

  .featuredIcons, .partnersIcons {
    flex-direction: column;
    align-items: center;
  }

  .featuredIcons {
    margin-top: 20px;
  }

  .partnersIcons {
    margin-bottom: 0px;
  }

  .featuredIcons > div, .partnersIcons > div {
    margin-bottom: 25px;
  }

  .sec-2-heading > h1, .sec-5-div h1, .sec-why-edustripe-first > div > h1, .partnersSection > div > p, .featuredSection > div > p {
    font-size: 18px;
    line-height: 27px;
  }

  .sec-side > h1, .sec-4-side > h1, .scside > h1, .sec-4-side > h1 {
    font-size: 16px;
    line-height: 24px;
  }

  .sec-side > h1, .sec-side > p {
    padding-bottom: 0;
  }

  .sec-2-heading {
    text-align: left;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 22px;
  }

  .sec-2-div {
    flex-direction: column;
    width: 86%;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    padding: 0 22px;
  }

  .scside {
    width: 100%;
    justify-content: flex-start;
  }

  .scside > div > ul > li > span {
    width: 95%;
  }

  .sec-2-side-img-div {
    margin-top: 60px;
    width: 75%
  }

  .sec-side {
    width: 100%;
  }


  .sec-side > div > ul > li {
    padding: 10px 0 10px 5px;
  }

  .learnmore {
    padding: 9px 40px !important;
  }

  .sec-3-div {
    flex-direction: column-reverse;
  }

  .sec-3-section {
    justify-content: flex-start;
    padding: 0 22px;
  }

  .sec-3-side-img-div > div {
    width: 80%;
  }

  .sec-3-side-img-div {
    width: 85%;
    justify-content: flex-start;
    padding-left: 0;
  }

  .sec {
    width: 100%;
    align-items: flex-start;
  }

  .sec-4-div {
    flex-direction: column;
    padding: 0 22px;
  }

  .sec-side-img-div {
    width: 90%;
  }

  .sec-4-side > h1 {
    font-weight: 600;
  }

  .sec-4-side {
    width: 100%;
    justify-content: flex-start;
    margin-top: 9%;
  }

  .sec-4-img {
    z-index: 2 !important;
  }

  .sec-5-div {
    width: 86%;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 10px 0;
    padding: 0 22px;
  }

  .row {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
    margin: 10px auto;
  }
  
  .col {
    padding: 10px 0;
    width: 85%;
    flex-direction: column;
    display: flex;
  }
  
  .col > h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding-top: 12px;
    display: flex;
    align-items: center;
  }

  .col > p {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }

  .col > img {
    width: fit-content;
  }

  .col > img,
  h3,
  p {
    padding: 10px 0 0 0;
  }
  
  .sec-why-edustripe {
    flex-direction: column-reverse;
    width: auto;
    /* min-height: 300px; */
  }

  .sec-why-edustripe-first-text {
    width: 80%;
  }
  
  .sec-why-edustripe-first {
    width: auto;
    color: #fff;
    background-color: #109CF1;
    padding: 15px 22px;
  }

  .sec-why-edustripe-buttons {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  
  .sec-why-edustripe-buttons > a {
    width: 100%;
  }

  .sec-why-edustripe-first > div > p {
    text-transform: capitalize;
  }

  .sec-why-edustripe-first-text > p {
    width: 100%;
  }
  
  .sec-why-edustripe-second {
    width: 100%
  }

  .sec-6-div {
    width: 100%;
    margin-bottom: 0;
  }

  .sec-why-edustripe-first {
    flex-direction: column;
  }
}
